HYPEREVM_TESTNET_RPC=
HYPEREVM_MAINNET_RPC=
DEPLOYER_PRIVATE_KEY=
ADMIN_PRIVATE_KEY=
ADMIN_ADDRESS=
OPERATOR_ADDRESS=
GUARDIAN_ADDRESS=
KRW_STABLECOIN_ADDRESS=0x0000000000000000000000000000000000000000
ETHERSCAN_API_KEY=
HYPEREVM_TESTNET_EXPLORER=
